flwr==1.18.0
matplotlib==3.6.2
numpy==1.26.4
# Better to use numpy < 2.0.0 for compatibility (pip install "numpy<2.0")(1.26.4 most likely)
pandas==2.2.3
PyYAML==6.0.2
scikit_learn==1.6.1
seaborn==0.13.2
torch==2.7.0
torchmetrics==1.7.0
